.login{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
          padding: 20px;
          background-color: rgba(0,0,0,0.7);
          color: white;
          text-align: center;
          width: 50%;
          margin-left:25%;}
    .body{
      background-image: url('../static/background3.jpg');
      height: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;}

form {
      
      display: block;
      ;
}
select, input {
      width: 40%;
      height: 30px;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
button {
      color: white;
      background-color: green;
      border-color: green;
      height: 30px;
      width: 100px;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}