<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>KopaPap</title>
  <link rel="shortcut icon" href="../static/logo4.png">
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="../static/style.css">

</head>

{% block content%}

{% endblock %}

</html>