{% extends 'base.html' %}

{% block content %}

 <div class="body"> 
 
  <h1></h1>
  <div class='login'>
  <div class="image">
      <object data='../static/logo4.png' width="100%" height="100%"></object><br><br>
    </div>
    
  {% if error %}
    <div class="panel panel-danger">
      <div class="panel-heading">{{ warning_text }}</div>
    </div>
  {% endif %}
    <form action = "{{ url_for('predict') }}" method="post">
      <div class="form-group">
        <label for="married">Marital Status</label>
        <select class='form-control'name="married" required = 'required'>
          <option value="" disabled selected hidden>Select Marital status category</option>
          <option value="0">Not Married</option>
          <option value="1">Married</option>
        </select>
      </div>
      <div class="form-group">
        <label for="dependents">Number of Dependents</label>
        <select class='form-control'name="dependents" required = 'required'>
          <option value="" disabled selected hidden>Select the number of Dependents</option>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3 or more</option>
        </select>
      </div>
      <div class="form-group">
        <label for="education">Education</label>
        <select class='form-control'name="education" required = 'required'>
          <option value="" disabled selected hidden>Select Education category</option>
          <option value="0">Not a Graduate</option>
          <option value="1">Graduate</option>
        </select>
      </div>
      <div class="form-group">
        <label for="self_employed">Self Employed</label>
        <select class='form-control'name="self_employed" required = 'required'>
          <option value="" disabled selected hidden>Select Employment category</option>
          <option value="0">No</option>
          <option value="1">Yes</option>
        </select>
      </div>
      <div class="form-group">
        <label for="credit_history">Credit History</label>
        <select class='form-control'name="credit_history" required = 'required'>
          <option value="" disabled selected hidden>Select Credit History category</option>
          <option value="0">Not Favorable</option>
          <option value="1">Favorable</option>
        </select>
      </div>
      <div class="form-group">
        <label for="property_area">Location of Colateral</label>
        <select class='form-control'name="property_area" required = 'required'>
          <option value="" disabled selected hidden>Select Education category</option>
          <option value="0">Semi Urban</option>
          <option value="1">Urban</option>
          <option value="2">Rural</option>
        </select>
      </div>
      <div class="form-group">
        <label for="ApplicantIncome">Applicant's Net Monthly Income</label>
        <input type="text" class="form-control" name="ApplicantIncome" placeholder="Applicant's Income" required=''>
      </div>
      <div class="form-group">
        <label for="CoapplicantIncome">Co-Applicant's Net Monthly Income</label>
        <input type="text" class="form-control" name="CoapplicantIncome" placeholder="Co-Applicant's Income" required=''>
      </div>
      <div class="form-group">
        <label for="LoanAmount">Loan Amount</label>
        <input type="text" class="form-control" name="LoanAmount" placeholder="Loan Amount" required=''>
      </div>
      <div class="form-group">
        <label for="term">Loan Term in days</label>
        <input type="text" class="form-control" name="term" placeholder="Loan Term" required=''>
      </div>
      <div class="form-group">
        <label for="married">Gender</label>
        <select class='form-control'name="gender" required = 'required'>
          <option value="" disabled selected hidden>Select Gender</option>
          <option value="0">Female</option>
          <option value="1">Male</option>
        </select>
      </div><br>
      <button type="submit" class="btn btn-success btn-block btn-large">Predict</button>
      
   
    </form>

   <br>
   <br>

 </div>
 </div>



{% endblock %}