<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>KopaPap</title>
  <link rel="shortcut icon" href="../static/logo4.png">
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="../static/style.css">

</head>

<body>
 <div class="body"> 
 <div class="login">
	<h1></h1>
  <div class="image">
      <object data='../static/logo4.png' width="100%" height="10%"></object><br><br>
    </div>
    <form action="{{ url_for('predict')}}"method="post">
      <!--
      <strong>Account Number</strong>
      <input type="text" name="account_number" placeholder="Account Number" required="required" /><br><br>
    -->
      <strong>Home ownership</strong><br>
        <select name="home_ownership">
            <option value="" disabled selected hidden>Select Home ownership category</option>
            <option value="1">Mortgage</option>
            <option value="2">Rent</option>
            <option value="3">Owner</option>
            <option value="4">Other</option>
        </select><br><br>

        <strong>Purpose</strong><br>
        <select name="purpose">
            <option value="" disabled selected hidden>Select Purpose category</option>
            <option value="1">Debt Consolidation</option>
            <option value="2">Credit Card</option>
            <option value="3">Home Improvement</option>
            <option value="4">Other</option>
            <option value="5">Major Purchase</option>
            <option value="6">Small Business</option>
            <option value="7">Car Loan</option>
            <option value="8">Medical</option>
            <option value="9">Moving</option>
            <option value="10">Vacation</option>
            <option value="11">House</option>
            <option value="12">Wedding</option>
            <option value="13">Renewable Energy</option>
            <option value="14">Educational</option>
        </select><br><br>

        <strong>Grade</strong><br>
        <select name="Grade">
            <option value="" disabled selected hidden>Select Grade category</option>
            <option value="1">A</option>
            <option value="2">B</option>
            <option value="3">C</option>
            <option value="4">D</option>
            <option value="5">E</option>
            <option value="6">F</option>
            <option value="7">G</option>
        </select><br><br>

        <strong>Empoyment Length</strong><br>
        <select name="empolyment_length">
            <option value="" disabled selected hidden>Select Employment Length category</option>
            <option value="0">0 years</option>
            <option value="1">1 year</option>
            <option value="2">2 years</option>
            <option value="3">3 years</option>
            <option value="4">4 years</option>
            <option value="5">5 years</option>
            <option value="6">6 years</option>
            <option value="7">7 years</option>
            <option value="8">8 years</option>
            <option value="9">9 years</option>
            <option value="10">Over 10 years</option>
        </select><br><br>

        <strong>Annual Income</strong><br>
        <input type="text" name="annual_income" placeholder="Annual Income" required="required" /><br><br>

        <strong>Loan Term</strong><br>
        <select name="term">
            <option value="" disabled selected hidden>Select Loan Term category</option>
            <option value="0">36 Months</option>
            <option value="1">60 Months</option>
        </select><br><br>
        <strong>Loan Amount</strong><br>
        <input type="text" name="loan" placeholder="Loan Amount" required="required" /><br><br>
        <strong>Interest Rate</strong><br>
        <input type="text" name="rate" placeholder="Interest Rate" required="required" /><br><br>


        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>
 </div>

</body>
</html>