<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>KopaPap</title>
  <link rel="shortcut icon" href="../static/logo4.png">
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="../static/style.css">

</head>

<body>
 <div class="body"> 
 <div class="login">
	<h1></h1>
  <div class="image">
      <object data='../static/logo4.png' width="100%" height="10%"></object><br><br>
    </div>
    <h1>Results</h1>

   <br>
   <br>
   {{ text }}
   <br>
   <br>

   <form action = "http://127.0.0.1:5000/">
    Next client <br><button type="submit" class="btn btn-primary btn-block btn-large">Home</button><br><br>
  </form>

 </div>
 </div>

</body>
</html>