{% extends 'base.html' %}

{% block content %}


 <div class="body"> 
 <div class="login">
	<h1></h1>
  <div class="image">
      <object data='../static/logo4.png' width="100%" height="10%"></object><br><br>
    </div>
    <form action="{{ url_for('search')}}"method="post">
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" class="form-control" name="firstName" placeholder="First Name" required=''>
      </div>
      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" class="form-control" name="lastName" placeholder="Last Name" required=''>
      </div>
      <div class="form-group">
        <label for="phoneNumber">Phone Number</label>
        <input type="text" class="form-control" name="phoneNumber" placeholder="Phone Number" required=''>
      </div>
      <div class="form-group">
        <label for="emailAddress">E-Mail</label>
        <input type="email" class="form-control" name="emailAddress" placeholder="Email" required=''>
      </div>
      <div class="form-group">
        <label for="identificationNumber">Identification Number</label>
        <input type="text" class="form-control" name="identificationNumber" placeholder="Identification Number" required=''>
      </div>
      <div class="form-group">
        <label for="dateOfBirth">Date of birth</label>
        <input type="text" class="form-control" name="dateOfBirth" placeholder="YYYY-MM-DD" required=''>
      </div>
      <br>
        <button type="submit" class="btn btn-secondary btn-block btn-large">Search</button>
    </form>

   <br>
   <br>
   {{ text }}
   <br>
   <br>
   <br>
   <form action = "{{ url_for('predict_home') }}">
    Next client <br><button type="submit" class="btn btn-secondary btn-block btn-large">Home</button><br><br>
 </div>
 </div>
</div>

{% endblock %}